*{
    box-sizing: border-box;
}
body{
    margin : 0px;
}
.container{
    width: 980px;
    margin: auto;
}
.logo-wrapper{
    background: #350a21;
    text-align: center;
    padding: 35px 40px;
}
.menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background: pink;
    margin: 0;padding: 0;
    list-style: none;
    
}
.menu li{
    text-align: center;
    padding: 5px 0;
}
.menu li a{
    text-decoration: none;
    color: #ffffff;
}
main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: #efeff1 solid 1px;
    padding: 10px;
    height: 700px;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.product-item{
    border: #cccccc solid 1px;
    margin: 5px;
    text-align: center;
    padding: 5px;
    position: relative;
}
.sale{
    position: absolute;
    color: rgb(18, 20, 20);
    top: 0 ; right: 0;
}
h2{
    text-align: center;
    border-bottom:#b85797 solid 1px;
    padding-bottom: 10px; margin-bottom: 17px ;
    font-size: 24px;
    font-family: tahama;
    color: #b85797;
    font-weight: normal;
    text-transform: uppercase

}
.new-p{
    display: block;
    color: aqua;
    text-align: center

}
.old-p{
    text-decoration: line-through;
    text-align: center
}

aside{
    background: forestgreen;
    border: blue solid 2px;
    text-align: center;
}
.btn{
    background: #350a21;
    color: #f1dce7;
    
}
footer{
    text-align: center;
    background: firebrick;
}

