*{
    box-sizing: border-box;
}
.menu>ul>li{
    display: inline-block;
    padding: 0px 7px;
}
.menu{
    display: grid;
    grid-template-columns: 6fr 2fr;
    background-color: orangered;
    grid-gap: 200px;

}
header{
    width: 1000px;
    height: auto;
    padding: 0px;
    margin: 0px;
}
.menu>ul>li>a{
    list-style: none;
    text-decoration: none;
    font-variant: small-caps;
    line-height: 30px;
    font-size: 12pt;
    color: white;
}
.menu>ul{
    padding-left: 30px;
}
.logo{
    padding: 0px;
    width: 1000px;
    height: 200px;
    position: relative;
}
.menu>ul>li>a:hover{
    color: blue;
}
.danhmuc>ul>li>a{
    color: white;
    text-decoration: none;

}
.danhmuc>ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.danhmuc{
    Border-bottom-left-radius: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: orangered;
    box-shadow: -5px 5px 5px white;
}