p{
    font-variant: small-caps;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 25px;
}
.one{
    color: red;
}
.two{
    color:blue;
}
.three{
    color: forestgreen
}
body{
    text-align: center;
}
h2{
    color: white;
    text-shadow:0 0 5px red;
}
strong{
    color: saddlebrown;
}