*{
    box-sizing: border-box;
}
.header{
    text-align: center;
}
.menu{
    Font-variant:small-caps;
    Color:blue;
    text-align: center;
}
.menu>a:visited{
    Color:green;
}
.menu>a:hover{
    Color:red;
    Text-decoration:underline;
}